@use "styles/style" as *;

.card {
  position: relative;
  max-width: 380px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 30px 50px;
  text-align: center;
  border: 1px solid #E0E0E0;
  border-radius: 10px 40px 40px 40px;
}

.card__id {
  position: absolute;
  top: -10px;
  left: -2px;
  font-family: $font-Lato;
  font-weight: 700;
  font-size: 60px;
  line-height: 20px;
  color: #03073C;
}

.card__text {
  position: relative;
  margin-bottom: 20px;
  padding: 15px 20px;
  font-family: $font-Lato;
  font-size: 14px;
  line-height: 21px;
  color: #475658;
  text-align: left;
  border: 1px solid #E0E0E0;
  border-radius: 50px;

  &::before {
    content: "";
    position: absolute;
    bottom: -60px;
    right: 30px;
    width: 35px;
    height: 44px;
    background-image: url("../../../public/assets/icons/bubble.png");
    background-repeat: no-repeat;
  }
}

@include max-width(455px) {

  .card {
    padding: 20px 30px;
  }

  .card__id {
    font-size: 30px;
    line-height: 20px;
  }

  .card__text {
    margin-bottom: 20px;
    padding: 10px 15px;
    font-size: 10px;
    line-height: 11px;


    &::before {
      content: "";
      position: absolute;
      bottom: -60px;
      right: 30px;
      width: 35px;
      height: 44px;
      background-image: url("../../../public/assets/icons/bubble.png");
      background-repeat: no-repeat;
    }
  }
}