@use "styles/style" as *;


.info {
  display: flex;
  flex-direction: column;
  padding: 145px 0 290px;
}

.info__top {}

.info__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style-type: none;
  gap: 60px;
  margin: 0 0 200px;
  padding: 0;
}

.info__bottom {}

.info__wrapper {
  max-width: 900px;
  width: 100%;
  margin: 0 auto 70px;
}

.info__title {
  font-family: $font-Lato;
  font-weight: 400;
  font-size: 45px;
  line-height: 60px;
  text-align: center;
  color: #03073C;
}

.info__span {
  padding: 0 10px;
  margin: 0 10px;
  border: 1px solid #D44B4B;
  border-radius: 20px;
}

.info__content {
  display: flex;
  max-width: 1040px;
  width: 100%;
  margin: 0 auto;
  background: #FFFFFF;
  border: 1px solid #F2F2F2;
  box-shadow: 1px 3px 20px rgba(240, 240, 240, 0.8);
  border-radius: 20px;
  overflow: hidden;
}

.content__left {
  width: 290px;
  background-color: #D44B4B;
  background-image: url("../../../../../public/assets/images/infobg.png");
  background-repeat: no-repeat;
  background-position: right;
}

.content__right {
  padding: 60px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 350px;
    right: 50px;
    width: 78px;
    height: 150px;
    background-image: url("../../../../../public/assets/icons/arrow.svg");
    background-repeat: no-repeat;
    background-position: center;

  }
}

.content__text {
  margin-bottom: 75px;
  font-family: $font-Lato;
  font-size: 16px;
  line-height: 26px;
  color: #475658;
}

.content__span {
  color: #D44B4B;
}

.content__wrapper {
  width: 100%;
  max-width: 490px;
  margin-bottom: 65px;
}

.content__title {
  margin-bottom: 30px;
  font-family: $font-Lato;
  font-weight: 400;
  font-size: 35px;
  line-height: 45px;
  color: #03073C;
}

.content__button {
  padding: 20px 186px 21px 187px;
  font-family: $font-Lato;
  font-weight: 700;
  font-size: 23px;
  line-height: 28px;
  text-align: center;
  color: #FFFFFF;
  background: #D44B4B;
  box-shadow: 2px 2px 5px #F0F0F0;
  border-radius: 10px;
}

.content__inner {
  width: 100%;
  max-width: 355px;
}

.content__subtitle {
  margin-bottom: 20px;
}

.content__subtitle,
.content__item {
  font-family: $font-Lato;
  font-size: 16px;
  line-height: 26px;
  color: #475658;
}

.content__list {
  margin: 0;
  padding-left: 20px;
}

@include max-width(940px) {
  .content__title {
    font-size: 30px;
    line-height: 40px;
  }

  .content__button {
    padding: 20px 150px;
    font-size: 23px;
    line-height: 28px;
  }
}

@include max-width(940px) {

  .info__wrapper {
    margin-bottom: 50px;
  }

  .content__title {
    font-size: 26px;
    line-height: 34px;
  }

  .content__button {
    padding: 20px 140px;
    font-size: 23px;
    line-height: 28px;
  }
}

@include max-width(768px) {

  .info {
    padding: 42px 0 50px;
    flex-direction: column-reverse;
  }

  .info__list {
    margin-bottom: 0;
    margin-top: 50px;
  }

  .info__wrapper {
    margin-bottom: 40px;
  }

  .info__title {
    font-size: 36px;
    line-height: 45px;
  }

  .info__content {
    flex-direction: column;
  }

  .content__left {
    width: 100%;
    padding: 50px;
    background-color: #D44B4B;
    background-image: url("../../../../../public/assets/images/infombg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }

  .content__right {
    padding: 25px;

    &::before {
      display: none;
    }
  }

  .content__text {
    margin-bottom: 16px;
  }

  .content__wrapper {
    margin-bottom: 35px;
  }
}

@include max-width(580px) {

  .info__wrapper {
    margin-bottom: 30px;
  }

  .info__title {
    font-size: 26px;
    line-height: 36px;
  }
}

@include max-width(455px) {

  .info__wrapper {
    margin-bottom: 20px;
  }

  .info__title {
    font-size: 18px;
    line-height: 25px;
  }

  .content__title {
    font-size: 18px;
    line-height: 25px;
  }

  .content__button {
    padding: 10px 15px;
    width: 100%;
  }
}

@include max-width(380px) {

  .info__title {
    font-size: 16px;
    line-height: 25px;
  }

  .content__text {
    font-size: 12px;
    line-height: 25px;
  }

  .content__title {
    font-size: 16px;
    line-height: 20px;
  }

  .content__subtitle,
  .content__item {
    font-size: 12px;
    line-height: 25px;
  }
}